{% extends 'header.html' %}
{% block content %}
<html>
	
	<head>
		<style type="text/css">
			table, td, th {
			padding: 5px;
	}
</style>

</head>
<body>	
	<br><br>
	<center>
	<section class="team" id="team">
		<div class="container">
			<div class="row">
				<div class="team-heading text-center">
					<h2>Sign Up</h2>
				</div>
			</div>
		</div>
	</section>
	<h3 style="margin-top: -50px;">
		{% if msg %}
			{{msg}}
		{% endif %}
	</h3>
	<font size="5px">
	<form name="signup" method="post" action="{% url 'signup' %}">
		{% csrf_token %}
		<table>
			<tr>
				<td>First Name</td>
				<td><input type="text" name="fname" class="form-control form-control-lg" required="required"></td>
			</tr>
			<tr>
				<td>Last Name</td>
				<td><input type="text" name="lname" class="form-control form-control-lg" required="required"></td>
			</tr>

			<tr>
				<td>Email</td>
				<td><input type="text" name="email" class="form-control form-control-lg" required="required"></td>
			</tr>
			<tr>
				<td>Mobile</td>
				<td><input type="text" name="mobile" class="form-control form-control-lg" required="required"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password" class="form-control form-control-lg" required="required"></td>
			</tr>
			<tr>
				<td>Confirm Password</td>
				<td><input type="password" name="cpassword" class="form-control form-control-lg" required="required"></td>
			</tr>
			<tr>
				<td colspan="2" align="center">
					<input type="submit" value="Signup" class="btn btn-primary">
				</td>
			</tr>
		</table>
	</form>
	</font>
</center>
<br><br><br><br><br>
<!-- footer starts here -->
	<footer class="footer clearfix">
		<div class="container">
			<div class="row">
				<div class="col-xs-6 footer-para">
					<p>&copy;Mostafizur All right reserved</p>
				</div>
				<div class="col-xs-6 text-right">
					<a href=""><i class="fa fa-facebook"></i></a>
					<a href=""><i class="fa fa-twitter"></i></a>
					<a href=""><i class="fa fa-skype"></i></a>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
{% endblock %}